Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-10, with the labels that each got.

#336 feat: specify module to export
  server/export.go
  server/export_test.go
  server/types/app.go
  simapp/app_test.go
  simapp/export.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/types.go
  simapp/utils.go
  types/module/module.go
  types/module/module_test.go
Labels: A:backport/v12.x

#340 fix: ICA export genesis patch
  x/auth/types/genesis.go
Labels: C:x/auth

#335 feat: Add Mempool Types & Boilerplate
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  types/mempool/mempool.go
  types/tx_msg.go
  x/auth/tx/builder.go
Labels: C:x/auth

#344 chore: move grpcConcurrency to config.toml
  client/cmd.go
  client/config/cmd.go
  client/config/config.go
  client/config/toml.go
  client/flags/flags.go
  client/grpc_query_test.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  types/module/module_test.go
Labels: C:CLI, A:backport/v12.x

#348 fix: proper error when parsing telemetry configuration (backport #129…
  server/config/config.go
  server/start.go
Labels: A:backport/v12.x

#347 chore: backport support debug trace QueryResult (#11148)
  baseapp/abci.go
  types/errors/abci.go
Labels: A:backport/v12.x

#356 chore(backport): Simulation is not deterministic due to GenTx
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: C:x/bank, C:x/distribution, C:x/genutil, C:x/gov, C:Simulations, C:x/slashing, C:x/staking, C:x/authz

#361 chore(types): add MustAccAddressFromBech32 util func
  x/authz/keeper/keeper.go
Labels: C:x/authz, A:backport/v12.x

#352 feat: Add convenience method for constructing key to access account's balance for a given denom
  x/bank/legacy/v043/store_test.go
  x/bank/types/key.go
Labels: C:x/bank, A:backport/v12.x

#360 feat: min and max operators on coins (#11200)
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  x/auth/vesting/types/vesting_account.go
Labels: C:x/auth, A:backport/v12.x

#359 fix: update index of crisis invariant check logs (backport #12208)
  x/crisis/keeper/keeper.go
Labels: A:backport/v12.x

#364 chore: remove unneeded swagger docs from 0.45 #11745
  client/docs/swagger_legacy.yaml
Labels: C:CLI, A:backport/v12.x

#367 chore: update vuepress config to reflect new default branch naming (#…
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
Labels: A:backport/v12.x

#368 chore(backport): EIP191 sign mode
  client/cmd.go
  client/flags/flags.go
  client/tx/factory.go
  proto/cosmos/tx/signing/v1beta1/signing.proto
  types/tx/signing/signing.pb.go
  x/auth/tx/config.go
Labels: C:x/auth, C:CLI

#374 fix!: Dev/backport dragonberry
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/msg_service_router.go
  baseapp/p2p.go
  baseapp/testutil/messages.go
  baseapp/testutil/messages.pb.go
  baseapp/testutil/messages.proto
  contrib/images/simd-env/Dockerfile
  go.mod
  go.sum
  ics23/.gitignore
  ics23/go/Makefile
  ics23/go/compress.go
  ics23/go/go.mod
  ics23/go/go.sum
  ics23/go/ics23.go
  ics23/go/ops.go
  ics23/go/proof.go
  ics23/go/proofs.pb.go
  proto/cosmos/staking/v1beta1/tx.proto
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  store/cachekv/store.go
  x/authz/module/module.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Labels: C:x/bank, C:x/distribution, C:x/genutil, C:x/gov, C:Simulations, C:x/slashing, C:x/staking, C:x/authz
