Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-06, with the labels that each got.

#249 Add spec for emergency voting
  x/gov/spec/01_concepts.md
Labels: C:x/gov

#246 feat: list snapshots query
  baseapp/abci.go
  baseapp/baseapp_test.go
Labels: A:backport/v0.45.0x-osmo-v7

#247 feat: support indexing denom metadata denom units
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  x/auth/types/query.pb.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/module.go
  x/bank/types/key.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Labels: C:x/auth, C:x/bank

#253 fix: Add supply offsets to genesis
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/genesis.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/gov/v1beta1/gov.proto
  simapp/test_helpers.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/supply_offset.go
  x/bank/legacy/v040/migrate_test.go
  x/bank/legacy/v043/json_test.go
  x/bank/types/genesis.go
  x/bank/types/genesis.pb.go
Labels: C:x/bank, A:backport/v0.45.0x-osmo-v7

#256 feat: revert support indexing denom metadata denom units
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  x/auth/types/query.pb.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/module.go
  x/bank/types/key.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Labels: C:x/auth, C:x/bank

#260 fix: Allow ScheduleUpgrade to come from same block
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper.go
Labels: C:x/upgrade, A:backport/v0.45.0x-osmo-v7

#262 increase maxApproxRootIterations to 300
  types/decimal.go
Labels: A:backport/v0.45.0x-osmo-v7

#240 feat!: expedited proposals
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/utils.go
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest.go
  x/gov/client/rest/tx.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/gov/genesis_test.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/simulation/params.go
  x/gov/simulation/params_test.go
  x/gov/spec/01_concepts.md
  x/gov/types/events.go
  x/gov/types/genesis.go
  x/gov/types/gov.pb.go
  x/gov/types/keys.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/params.go
  x/gov/types/params_test.go
  x/gov/types/proposal.go
  x/gov/types/proposals_test.go
  x/gov/types/tx.pb.go
  x/params/client/cli/tx.go
  x/params/client/rest/rest.go
  x/params/client/utils/utils.go
  x/params/proposal_handler_test.go
  x/params/simulation/operations.go
  x/params/types/proposal/proposal.go
  x/params/types/proposal/proposal_test.go
  x/simulation/params_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/tx.go
Labels: C:x/distribution, C:x/gov, C:x/params, C:Simulations, C:x/upgrade, C:CLI

#265 refactor!: app version stored in multi store and shared in state sync
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/params.go
  docs/core/proto-docs.md
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  server/mock/store.go
  simapp/test_helpers.go
  snapshots/README.md
  snapshots/helpers_test.go
  snapshots/manager_test.go
  snapshots/types/format.go
  snapshots/types/snapshot.pb.go
  store/rootmulti/snapshot_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
  x/params/keeper/consensus_params.go
  x/simulation/simulate.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
Labels: C:x/params, C:Simulations, C:x/upgrade

#254 feat!: expedited proposal min deposit param
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/types/genesis.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/gov/types/proposal.go
  x/gov/types/proposals_test.go
  x/params/proposal_handler_test.go
Labels: C:x/gov, C:x/params, C:Simulations, C:CLI

#267 feat!: add "is-genesis" check
  baseapp/abci.go
  types/context.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#269 feat!: add "is-genesis" check
  baseapp/abci.go
  types/context.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#271 feat!: bring back the cliff vesting command (#111)
  x/auth/vesting/client/cli/tx.go
Labels: C:x/auth, A:backport/v0.45.0x-osmo-v7

#273 chore: backport label to v0.45.0x-osmo-v9 and v0.45.0x-osmo-v11
  .mergify.yml
Labels: Type: CI

#275 fix: rest query total supply of
  x/bank/keeper/querier.go
Labels: C:x/bank
