Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-11, with the labels that each got.

#377 chore: Unfork iavl
  go.mod
  go.sum
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
Labels: A:backport/v12.x

#379 feat!: Revert "feat: remove bank multisend msg (#274)"
  codec/types/interface_registry.go
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/tx.proto
  simapp/params/weights.go
  simapp/test_helpers.go
  types/tx/signing/signing.pb.go
  x/authz/keeper/keeper_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/handler.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/spec/04_events.md
  x/bank/types/bank.pb.go
  x/bank/types/codec.go
  x/bank/types/errors.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/tx.pb.go
  x/simulation/simulate.go
Labels: C:x/bank, C:Simulations, C:x/authz

#384 fix: Revert cache ctx change from SDK, move back into osmosis
  .mergify.yml
  types/context.go
Labels: Type: CI, A:backport/v13.x

#388 Add more helpful tx debug lines
  baseapp/baseapp.go
  baseapp/msg_service_router.go
Labels: A:backport/v13.x
