Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-02, with the labels that each got.

#103 feat: enable logging for when iavl storage is performing an upgrade
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  go.mod
  go.sum
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/store.go
  store/types/iterator_test.go
  store/types/utils_test.go
  testutil/context.go
  types/query/pagination_test.go
  types/store_test.go
  x/params/types/subspace_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/params, C:x/upgrade

#100 feat: upgrade iavl with fast storage
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  go.mod
  go.sum
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/store.go
  store/types/iterator_test.go
  store/types/utils_test.go
  testutil/context.go
  types/query/pagination_test.go
  types/store_test.go
  x/params/types/subspace_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/params, C:x/upgrade

#111 Add a command to make cliff lock vesting easier
  x/auth/vesting/client/cli/tx.go
Labels: C:x/auth

#108 feat: upgrade to fast storage on v0.45.0x-osmo-v7-fast
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  go.mod
  go.sum
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/store.go
  store/types/iterator_test.go
  store/types/utils_test.go
  testutil/context.go
  types/query/pagination_test.go
  types/store_test.go
  x/params/types/subspace_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/params, C:x/upgrade

#116 Update slashing hooks
  x/distribution/keeper/hooks.go
  x/distribution/types/expected_keepers.go
  x/slashing/keeper/hooks.go
  x/staking/keeper/hooks.go
  x/staking/keeper/slash.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
Labels: C:x/distribution, C:x/slashing, C:x/staking

#117 InstantUndelegate
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
Labels: C:x/staking

#119 feat: Add Supply Offsets to bank module
  docs/core/proto-docs.md
  go.sum
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/gov.proto
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/supply_offset.go
  x/bank/types/key.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Labels: C:x/bank
