Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-01, with the labels that each got.

#47 fix: change default gas to 350,000
  client/flags/flags.go
Labels: C:x/auth, C:x/bank, C:x/capability, C:x/crisis, C:x/distribution, C:x/evidence, C:x/genutil, C:x/gov, C:x/mint, C:Simulations, C:x/slashing, C:x/staking, C:x/upgrade, C:Cosmovisor, C:Keys, Type: Build, Type: CI, C:CLI, Type: ADR, C:x/authz, C:x/feegrant, C:Rosetta

#51 Add hooks for superfluid
  x/distribution/keeper/hooks.go
  x/slashing/keeper/hooks.go
  x/staking/keeper/hooks.go
  x/staking/keeper/slash.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
Labels: C:x/distribution, C:x/slashing, C:x/staking

#50 feat: Add safety check: restriction fn in bank module for mint perms
  CHANGELOG.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/spec/02_keepers.md
Labels: C:x/bank

#55 fix: Stop bank migration panic in tests
  x/bank/legacy/v043/store.go
Labels: C:x/bank

#57 feat: add default mint restriction
  x/bank/keeper/keeper.go
Labels: C:x/bank

#58 fix: Make rechecking a tx check the sequence number
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Labels: C:x/auth

#61 fix: bank test caused by changed error message
  x/bank/types/msgs_test.go
Labels: C:x/bank
