Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-03, with the labels that each got.

#56 fix: Fix liveness test
  Makefile
  contrib/images/simd-env/Dockerfile
Labels: Type: Build

#136 add after validator slash hook
  x/distribution/keeper/hooks.go
  x/slashing/keeper/hooks.go
  x/staking/keeper/hooks.go
  x/staking/keeper/slash.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
Labels: C:x/distribution, C:x/slashing, C:x/staking

#137 backport feat: Modify grpc gateway to be concurrent (#11234) from cos…
  client/context.go
  client/grpc_query.go
  server/start.go
Labels: C:CLI

#132 fix: Ensure that MsgCreateValidator's accompanying delegation is at least the provided MinSelfDelegation
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
Labels: C:x/staking

#140 refactor: snapshot and pruning functionality
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  go.mod
  go.sum
  pruning/README.md
  pruning/manager.go
  pruning/manager_test.go
  pruning/types/options.go
  pruning/types/options_test.go
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/pruning.go
  server/pruning_test.go
  server/start.go
  simapp/simd/cmd/root.go
  snapshots/README.md
  snapshots/helpers_test.go
  snapshots/manager.go
  snapshots/manager_test.go
  snapshots/store.go
  snapshots/types/options.go
  snapshots/types/snapshotter.go
  store/iavl/store.go
  store/mem/store.go
  store/reexport.go
  store/rootmulti/dbadapter.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/transient/store.go
  store/transient/store_test.go
  store/types/pruning.go
  store/types/pruning_test.go
  store/types/store.go
  testutil/network/network.go
  testutil/snapshots/util.go
  types/store.go
  x/staking/keeper/delegation.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/staking, C:x/upgrade

#164 chore: delete proto-docker.yml
  .github/workflows/proto-docker.yml
Labels: Type: CI

#165 chore: fix + update mergify config
  .mergify.yml
Labels: Type: CI

#157 fix: Update mergify bot config
  .mergify.yml
Labels: Type: CI

#168 chore: update mergify config
  .mergify.yml
Labels: Type: CI
