Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-05, with the labels that each got.

#213 fix: concurrency issues between simulation, grpc queries and ABCI commit flow
  baseapp/abci.go
  client/export_test.go
  client/grpc_query.go
  client/grpc_query_test.go
  testutil/network/util.go
  x/auth/tx/service_test.go
Labels: C:x/auth, C:CLI, A:backport/v0.45.0x-osmo-v7

#220 chore: safe guard gRPC size limits
  server/config/config.go
  server/grpc/server.go
  server/start.go
Labels: A:backport/v0.45.0x-osmo-v8, A:backport/v0.45.0x-osmo-v7

#178 feat: add clawback vesting account
  x/auth/vesting/client/cli/cli_test.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/testutil/suite.go
  x/auth/vesting/client/testutil/testdata/badjson
  x/auth/vesting/client/testutil/testdata/badperiod.json
  x/auth/vesting/client/testutil/testdata/periods1.json
  x/auth/vesting/exported/exported.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/expected_keepers.go
  x/auth/vesting/types/period.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_internal_test.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper.go
Labels: C:x/auth, C:x/bank, T:Task ⚙️

#229 chore: auto add PRs to projects; fix default PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-pr-to-project.yml
Labels: Type: CI

#232 chore: remove docker github action
  .github/workflows/docker.yml
Labels: A:Automerge, Type: CI

#230 chore: update github action to auto-add PRs and issues to project
  .github/workflows/add-issue-pr-to-project.yml
  .github/workflows/add-pr-to-project.yml
Labels: A:Automerge, Type: CI

#233 chore: fix issue template not visible in options
  .github/ISSUE_TEMPLATE/issue.md
Labels: A:Automerge

#231 chore: turn off dependabot
  .github/dependabot.yml
Labels: A:Automerge, Type: CI

#224 fix: implement Amino serialization for x/authz and x/feegrant
  codec/legacy/codec.go
  docs/core/encoding.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/msgs.go
  x/authz/authorization_grant.go
  x/authz/authorization_grant_test.go
  x/authz/client/cli/tx.go
  x/authz/client/rest/grpc_query_test.go
  x/authz/client/testutil/query.go
  x/authz/client/testutil/test_helpers.go
  x/authz/client/testutil/tx.go
  x/authz/codec.go
  x/authz/codec/cdc.go
  x/authz/codec/doc.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/module/module.go
  x/authz/msgs.go
  x/authz/msgs_test.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/evidence/types/msgs.go
  x/feegrant/codec.go
  x/feegrant/module/module.go
  x/feegrant/msgs.go
  x/feegrant/msgs_test.go
  x/feegrant/simulation/operations_test.go
  x/gov/simulation/operations_test.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
Labels: C:x/auth, C:x/bank, C:x/crisis, C:x/distribution, C:x/evidence, C:x/gov, C:Simulations, C:x/slashing, C:x/staking, C:x/upgrade, C:CLI, C:x/authz, C:x/feegrant

#239 feat!: support for custom proposal-based voting periods
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  snapshots/types/snapshot.pb.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/params.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/simulation/genesis.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/gov/types/params_test.go
  x/staking/types/staking.pb.go
Labels: C:x/gov, C:Simulations, C:x/staking, C:CLI

#241 fix: state-sync - app version stored in params
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/params.go
  server/mock/app.go
  simapp/app_test.go
  simapp/test_helpers.go
  testutil/mock/param_store.go
  x/params/keeper/consensus_params.go
  x/simulation/params.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/util_test.go
  x/upgrade/spec/02_state.md
  x/upgrade/types/keys.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/params, C:Simulations, C:x/upgrade, A:Automerge, A:backport/v0.45.0x-osmo-v7
