Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-09, with the labels that each got.

#323 chore: backport #13063 from cosmos/cosmos-sdk
  types/context.go
  types/context_test.go
  x/gov/abci.go
Labels: C:x/gov

#326 chore: Revert "feat: add a BeforeSend hook to the bank module (#278)" (v12.x)
  x/bank/keeper/hooks.go
  x/bank/keeper/hooks_test.go
  x/bank/keeper/internal_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/types/expected_keepers.go
  x/bank/types/hooks.go
Labels: C:x/bank

#325 chore: Revert "feat: remove bank multisend msg (#274)" (v12.x)
  codec/types/interface_registry.go
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/tx.proto
  simapp/params/weights.go
  x/authz/keeper/keeper_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/handler.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/spec/04_events.md
  x/bank/types/bank.pb.go
  x/bank/types/codec.go
  x/bank/types/errors.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/tx.pb.go
Labels: C:x/bank, C:Simulations, C:x/authz

#327 chore: Revert "chore: backport #13063 from cosmos/cosmos-sdk #323"
  types/context.go
  types/context_test.go
  x/gov/abci.go
Labels: C:x/gov

#328 chore: Revert "chore: bump go 1.18; bump Tendermint (#321)"
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  Makefile
  contrib/images/Makefile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-dlv/README.md
  contrib/images/simd-dlv/wrapper.sh
  contrib/images/simd-env/Dockerfile
  cosmovisor/args.go
  cosmovisor/process_test.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
  docker-compose.yml
  go.mod
  go.sum
  server/grpc/server_test.go
Labels: C:Cosmovisor, Type: CI, Type: Build

#331 chore: backport commit needed for IBC
  server/rosetta/converter.go
  simapp/export.go
  types/address.go
  types/tx/types.go
  x/auth/tx/builder.go
  x/authz/keeper/keeper.go
  x/bank/keeper/genesis.go
  x/bank/types/balance.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/proposal_handler.go
  x/feegrant/simulation/operations.go
  x/gov/keeper/deposit.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/staking/genesis.go
  x/staking/keeper/delegation.go
  x/staking/keeper/querier.go
  x/staking/keeper/slash.go
  x/staking/keeper/val_state_change.go
  x/staking/types/delegation.go
Labels: C:x/auth, C:x/bank, C:x/distribution, C:x/gov, C:Simulations, C:x/staking, C:x/authz, C:x/feegrant

#332 chore: backport commit needed for IBC (#331)
  server/rosetta/converter.go
  simapp/export.go
  types/address.go
  types/tx/types.go
  x/auth/tx/builder.go
  x/authz/keeper/keeper.go
  x/bank/keeper/genesis.go
  x/bank/types/balance.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/proposal_handler.go
  x/feegrant/simulation/operations.go
  x/gov/keeper/deposit.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/staking/genesis.go
  x/staking/keeper/delegation.go
  x/staking/keeper/querier.go
  x/staking/keeper/slash.go
  x/staking/keeper/val_state_change.go
  x/staking/types/delegation.go
Labels: C:x/auth, C:x/bank, C:x/distribution, C:x/gov, C:Simulations, C:x/staking, C:x/authz, C:x/feegrant

#333 chore: mergify backport config for v12
  .mergify.yml
Labels: Type: CI

#324 feat: ABCI++ Prep
  Makefile
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/params.go
  baseapp/params_test.go
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  go.sum
  server/export.go
  server/export_test.go
  server/rosetta/converter.go
  server/types/app.go
  simapp/test_helpers.go
  types/context.go
  types/context_test.go
  types/events.go
  types/events_test.go
  types/result_test.go
  x/bank/keeper/keeper_test.go
  x/evidence/abci.go
  x/evidence/types/evidence.go
  x/evidence/types/evidence_test.go
  x/params/keeper/consensus_params.go
  x/simulation/mock_tendermint.go
  x/simulation/params.go
  x/simulation/simulate.go
  x/slashing/abci_test.go
  x/staking/handler_test.go
Labels: C:x/bank, C:x/evidence, C:x/params, C:Simulations, C:x/slashing, C:x/staking, C:Rosetta, Type: Build
