Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-04, with the labels that each got.

#170 feat: support send and recv msg size for gRPC
  contrib/rosetta/node/data.tar.gz
  server/config/config.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Labels: C:Rosetta

#171 feat: add proto for Clawback Vesting Account
  docs/core/proto-docs.md
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  x/auth/vesting/handler.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting.pb.go
Labels: C:x/auth

#176 fix: proofs query to help debug app hash
  store/rootmulti/store.go
Labels: A:backport/v0.45.0x-osmo-v7

#175 chore: update TM dep + go.mod cleanup
  go.mod
  go.sum
  server/tm_cmds.go
  server/util.go
Labels: A:backport/v0.45.0x-osmo-v7

#134 fix: Global min Self Delegation
  docs/core/proto-docs.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/client/testutil/suite.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/params.go
  x/staking/legacy/v046/store.go
  x/staking/legacy/v046/store_test.go
  x/staking/module.go
  x/staking/simulation/genesis.go
  x/staking/types/errors.go
  x/staking/types/params.go
  x/staking/types/staking.pb.go
Labels: C:Simulations, C:x/staking, C:CLI

#199 chore: add table driven test cases to clawback
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth

#203 fix: cherry pick agoric's cosmos sdk#207
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth

#198 fix: Dev/clawback test debug
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth

#207 feat: add clawback cli and tests
  x/auth/vesting/client/cli/cli_test.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/testutil/suite.go
  x/auth/vesting/client/testutil/testdata/badjson
  x/auth/vesting/client/testutil/testdata/badperiod.json
  x/auth/vesting/client/testutil/testdata/periods1.json
Labels: C:x/auth

#209 chore: backport snapshot / pruning refactor (#184)
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  pruning/README.md
  pruning/export_test.go
  pruning/manager.go
  pruning/manager_test.go
  pruning/mock/db_mock.go
  pruning/types/options.go
  pruning/types/options_test.go
  server/config/config.go
  server/mock/store.go
  server/pruning.go
  server/pruning_test.go
  server/start.go
  simapp/simd/cmd/root.go
  snapshots/README.md
  snapshots/helpers_test.go
  snapshots/manager.go
  snapshots/manager_test.go
  snapshots/store.go
  snapshots/types/options.go
  snapshots/types/snapshotter.go
  store/iavl/store.go
  store/mem/store.go
  store/rootmulti/dbadapter.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/transient/store.go
  store/transient/store_test.go
  store/types/store.go
  store/types/utils_test.go
  testutil/network/network.go
  types/store.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/upgrade
