Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-08, with the labels that each got.

#278 feat: add a BeforeSend hook to the bank module
  x/bank/keeper/hooks.go
  x/bank/keeper/hooks_test.go
  x/bank/keeper/internal_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/types/expected_keepers.go
  x/bank/types/hooks.go
Labels: C:x/bank

#303 refactor: expedited proposals parameter migrations
  x/gov/keeper/migrations.go
  x/gov/legacy/v4/export_test.go
  x/gov/legacy/v4/store.go
  x/gov/legacy/v4/store_test.go
  x/gov/module.go
Labels: C:x/gov, A:Automerge

#290 feat!: add x/upgrade params
  baseapp/baseapp.go
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/genesis.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  simapp/app.go
  store/rootmulti/store.go
  store/types/store.go
  store/types/version_manager.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/migrator.go
  x/upgrade/keeper/params.go
  x/upgrade/migrations/v2/migrate.go
  x/upgrade/migrations/v2/migrate_test.go
  x/upgrade/module.go
  x/upgrade/types/genesis.go
  x/upgrade/types/genesis.pb.go
  x/upgrade/types/params.go
  x/upgrade/types/upgrade.pb.go
Labels: C:x/upgrade, A:backport/v0.45.0x-osmo-v11

#309 feat: expose gas information
  types/simulation/types.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
Labels: C:x/bank, C:x/gov, C:Simulations, C:x/slashing, C:x/authz

#310 fix: revert upgrade PR
  baseapp/baseapp.go
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/genesis.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  simapp/app.go
  store/rootmulti/store.go
  store/types/store.go
  store/types/version_manager.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/migrator.go
  x/upgrade/keeper/params.go
  x/upgrade/migrations/v2/migrate.go
  x/upgrade/migrations/v2/migrate_test.go
  x/upgrade/module.go
  x/upgrade/types/genesis.go
  x/upgrade/types/genesis.pb.go
  x/upgrade/types/params.go
  x/upgrade/types/upgrade.pb.go
Labels: C:x/upgrade

#312 fix: added new constructor for genesis supply that matches upstream
  simapp/test_helpers.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/types/genesis.go
Labels: C:x/bank

#315 Update config.go
  client/config/config.go
Labels: C:CLI
