Repository osmosis-labs/cosmos-sdk, pull requests merged in 2022-07, with the labels that each got.

#274 feat: remove bank multisend msg
  codec/types/interface_registry.go
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/tx.proto
  simapp/params/weights.go
  x/authz/keeper/keeper_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/handler.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/spec/04_events.md
  x/bank/types/bank.pb.go
  x/bank/types/codec.go
  x/bank/types/errors.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/tx.pb.go
Labels: C:x/bank, C:Simulations, C:x/authz

#280 fix!: add govtypes.NewMsgSubmitProposalWithExpedited
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/rest.go
  x/gov/abci_test.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/tx.go
  x/gov/simulation/operations.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/params/client/cli/tx.go
  x/params/client/rest/rest.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/tx.go
Labels: C:x/distribution, C:x/gov, C:x/params, C:Simulations, C:x/upgrade, C:CLI

#281 feat: concurrency query client option (backport)
  client/cmd.go
  client/config/cmd.go
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/flags/flags.go
  client/grpc_query.go
  client/grpc_query_test.go
  x/auth/tx/service_test.go
Labels: C:x/auth, C:CLI

#283 chore: implement redacted fix
  types/errors/abci.go
  types/errors/abci_test.go
Labels: A:backport/v0.45.0x-osmo-v9

#286 feat: remove need for multisig address to be in keybase for tx sign:
  x/auth/client/cli/tx_sign.go
Labels: C:x/auth, C:CLI

#289 fix: increase consensus version for staking module
  x/staking/keeper/migrations.go
  x/staking/legacy/v3/store.go
  x/staking/legacy/v3/store_test.go
  x/staking/module.go
Labels: C:x/staking

#292 fix: check denom of SpendLimit
  simapp/helpers/test_helpers.go
  x/authz/simulation/operations.go
Labels: C:Simulations, C:x/authz, A:backport/v0.45.0x-osmo-v11

#296 feat!: initial deposit requirement for proposals
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  x/feegrant/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/export_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v3/export_test.go
  x/gov/legacy/v3/store.go
  x/gov/legacy/v3/store_test.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/errors.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/params/proposal_handler_test.go
Labels: C:x/gov, C:x/params, C:Simulations, C:CLI, C:x/feegrant, A:backport/v0.45.0x-osmo-v9

#298 fix(x/gov): migrations from 2 to 3 (min proposer deposit)
  x/gov/keeper/migrations.go
  x/gov/legacy/v3/store.go
  x/gov/module.go
Labels: C:x/gov, A:Automerge, A:backport/v0.45.0x-osmo-v9

#297 feat!: initial deposit requirement for proposals (backport #296)
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  x/gov/client/testutil/suite.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/export_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v3/export_test.go
  x/gov/legacy/v3/store.go
  x/gov/legacy/v3/store_test.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/simulation/operations.go
  x/gov/types/errors.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/params/proposal_handler_test.go
Labels: C:x/gov, C:x/params, C:Simulations, C:CLI

#302 fix(x/gov): migrations from 2 to 3 (min proposer deposit) (manual backport #298)
  x/gov/keeper/migrations.go
  x/gov/legacy/v3/store.go
  x/gov/module.go
Labels: C:x/gov

#295 feat: negative supplyWithOffset returns 0
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/supply_offset.go
Labels: C:x/bank
