Repository osmosis-labs/cosmos-sdk, pull requests merged in 2023-06, with the labels that each got.

#457 fix: added expedited quorum param v0.47
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  x/gov/client/testutil/suite.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/params.go
  x/gov/simulation/params_test.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/gov/types/params_test.go
Labels: C:x/gov, C:Simulations, C:CLI

#469 Vesting validate basic
  x/auth/vesting/msg_server.go
Labels: A:backport/v15.x

#454 feat: Add gas limits for queries
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/simd/cmd/root.go
Labels: A:backport/v15.x, A:backport/v16.x

#468 Dev/undo powermut
  types/decimal.go
Labels: A:backport/v15.x, A:backport/v16.x

#465 fix: events are not emitted after proposal gets handled
  x/gov/abci.go
Labels: C:x/gov, A:backport/v15.x, A:backport/v16.x
