Repository osmosis-labs/cosmos-sdk, pull requests merged in 2023-02, with the labels that each got.

#408 feat: update logic add genesis account
  CHANGELOG.md
  simapp/simd/cmd/genaccounts.go
  x/auth/helpers/genaccounts.go
Labels: C:x/auth

#409 chore: v15.x backport mergify configuration
  .mergify.yml
Labels: Type: CI

#413 feat: Add grants by grantee authz query
  client/grpc/tmservice/query.pb.go
  proto/cosmos/authz/v1beta1/authz.proto
  proto/cosmos/authz/v1beta1/genesis.proto
  proto/cosmos/authz/v1beta1/query.proto
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  proto/tendermint/abci/types.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/params.proto
  proto/tendermint/types/types.proto
  testutil/testdata/unknonwnproto.proto
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/authz/authz.pb.go
  x/authz/client/cli/query.go
  x/authz/client/testutil/cli_test.go
  x/authz/client/testutil/query.go
  x/authz/genesis.pb.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/grpc_query_test.go
  x/authz/keeper/keys.go
  x/authz/query.pb.go
  x/authz/query.pb.gw.go
  x/authz/tx.pb.go
  x/feegrant/tx.pb.go
  x/upgrade/types/query.pb.go
Labels: C:x/auth, C:x/upgrade, C:CLI, C:x/authz, C:x/feegrant

#416 feat: Backport: (feat: Add grants by grantee authz query)
  client/grpc/tmservice/query.pb.go
  docs/core/proto-docs.md
  proto/cosmos/authz/v1beta1/authz.proto
  proto/cosmos/authz/v1beta1/genesis.proto
  proto/cosmos/authz/v1beta1/query.proto
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/types/params.proto
  third_party/proto/tendermint/types/types.proto
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/authz/authz.pb.go
  x/authz/client/cli/query.go
  x/authz/client/testutil/cli_test.go
  x/authz/client/testutil/query.go
  x/authz/genesis.pb.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/grpc_query_test.go
  x/authz/keeper/keys.go
  x/authz/query.pb.go
  x/authz/query.pb.gw.go
  x/authz/tx.pb.go
  x/feegrant/tx.pb.go
  x/upgrade/types/query.pb.go
Labels: C:x/auth, C:x/upgrade, C:CLI, C:x/authz, C:x/feegrant

#418 fix: avoid broadcasting tx through query (#15044)
  baseapp/abci.go
Labels: A:backport/v15.x
