Repository osmosis-labs/cosmos-sdk, pull requests merged in 2023-03, with the labels that each got.

#422 fix: update logic add genesis account
  x/auth/helpers/genaccounts.go
Labels: C:x/auth, A:backport/v15.x

#426 feat: gRPC query for operator and chain configuration
  client/grpc/node/query.pb.go
  client/grpc/node/query.pb.gw.go
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  proto/cosmos/base/node/v1beta1/query.proto
  server/start.go
  server/types/app.go
  testutil/network/util.go
Labels: C:CLI, A:backport/v15.x

#428 chore: v16 mergify configuration
  .mergify.yml
Labels: Type: CI

#430 feat(Dec): MulRoundUp
  types/decimal.go
  types/decimal_test.go
Labels: A:backport/v16.x
