Repository osmosis-labs/cosmos-sdk, pull requests merged in 2024-05, with the labels that each got.

#607 chore: update ci
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gosec.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  store/rootmulti/store_test.go
  tests/e2e/auth/vesting/suite.go
  tests/integration/auth/keeper/vesting_account_test.go
  types/coin.go
  types/dec_coin.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/types/period.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_internal_test.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/hooks_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/keeper/supply_offset.go
  x/bank/migrations/v4/gen_state_test.go
  x/staking/keeper/delegation.go
Labels: C:x/auth, C:x/bank, C:x/staking, Type: CI, Type: Build, C:Store

#609 update gogoproto and exp on main
  api/go.mod
  go.mod
  go.sum
  runtime/services/reflection.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/gov/module.go
Labels: C:x/gov

#611 update gogoproto and exp on v25 (#609)
  api/go.mod
  go.mod
  go.sum
  runtime/services/reflection.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/gov/module.go
Labels: C:x/gov

#610 chore: backport v25 mergify
  .github/mergify.yml
Labels: Type: CI
