Repository osmosis-labs/cosmos-sdk, pull requests merged in 2024-02, with the labels that each got.

#511 Fix CI
  .github/workflows/labeler.yml
  .github/workflows/lint-pr.yml
  .github/workflows/test.yml
Labels: Type: CI

#504 perf: CacheCtx speedups
  store/cachekv/search_benchmark_test.go
  store/cachekv/store.go
  store/cachemulti/store.go
Labels: C:Store

#518 fix: revert PR
  .github/workflows/dependencies-review.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-pr.yml
  .github/workflows/project.yml
  .github/workflows/test.yml
  baseapp/block_gas_test.go
  baseapp/options.go
  server/start.go
  server/util.go
  simapp/go.mod
  simapp/go.sum
  store/cachekv/search_benchmark_test.go
  store/cachekv/store.go
  store/cachemulti/store.go
  tests/e2e/auth/vesting/suite.go
  tests/e2e/gov/query.go
  tests/go.mod
  tests/go.sum
  tests/integration/bank/keeper/deterministic_test.go
  types/result.go
  types/result_test.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/testutil/testdata/badjson
  x/auth/vesting/client/testutil/testdata/badperiod.json
  x/auth/vesting/client/testutil/testdata/periods1.json
  x/auth/vesting/types/period.go
  x/auth/vesting/types/vesting_account.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/supply_offset.go
  x/bank/migrations/v3/store_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/module/abci.go
  x/slashing/keeper/params.go
  x/staking/keeper/delegation.go
Labels: C:x/auth, C:x/bank, C:x/slashing, C:x/staking, C:x/feegrant, Type: CI, C:Store

#519 chore: mergify
  .github/mergify.yml
  .mergify.yml
Labels: Type: CI

#520 fix: run on push
  .github/workflows/build-docs.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gosec.yml
  .github/workflows/lint.yml
  .github/workflows/staticmajor.yml
  .github/workflows/test.yml
Labels: Type: CI

#521 fix: testnetify halt height edge case
  server/start.go
Labels: A:backport/v23

#523 fix: lingering non deterministic tests
  x/evidence/client/cli/query_test.go
  x/gov/keeper/proposal_test.go
Labels: C:x/evidence, C:x/gov, C:CLI, A:backport/v23

#527 feat: distribute every 50 blocks
  tests/e2e/distribution/suite.go
  tests/integration/distribution/keeper/allocation_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/abci.go
Labels: C:x/distribution

#529 chore: bump go to 1.20
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/lint.yml
  .github/workflows/proto-docker.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Makefile
  contrib/devtools/Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/rosetta-ci/Dockerfile
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
Labels: C:x/gov, C:Simulations, C:Rosetta, Type: CI, Type: Build, A:backport/v23

#531 fix: edge case in-place-testnet states
  server/start.go
Labels: A:backport/v23

#528 feat: iavl v1
  baseapp/options.go
  go.mod
  go.sum
  go.work.example
  server/util.go
  simapp/go.mod
  simapp/go.sum
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/iterator_test.go
  store/types/store.go
  store/wrapper/ics23.go
  store/wrapper/tmdb.go
  tests/go.mod
  tests/go.sum
Labels: C:Store, A:backport/v23

#535 fix: iavl grow issue
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/wrapper/tmdb.go
  tests/go.mod
  tests/go.sum
Labels: C:Store, A:backport/v23

#538 Backport of https://github.com/cosmos/cosmos-sdk/pull/18959
  CHANGELOG.md
  x/slashing/abci.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/params.go
  x/slashing/types/params.go
Labels: C:x/slashing, A:backport/v22, A:backport/v23

#544 Speedup to UnmarshalBalanceCompat
  x/bank/keeper/view.go
Labels: C:x/bank, A:backport/v22, A:backport/v23
