Repository osmosis-labs/cosmos-sdk, pull requests merged in 2024-03, with the labels that each got.

#556 fix: graceful prune failure log instead of panic
  store/rootmulti/store.go
Labels: C:Store, A:backport/v23

#548 feat: implement v0.50 slashing bitmap logic
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/slashing/abci.go
  x/slashing/keeper/genesis.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/migrations.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/migrations/v2/keys.go
  x/slashing/migrations/v2/store_test.go
  x/slashing/migrations/v4/keys.go
  x/slashing/migrations/v4/migrate.go
  x/slashing/migrations/v4/migrate_test.go
  x/slashing/module.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/slashing/types/keys.go
Labels: C:Simulations, C:x/slashing

#543 perf!: Make slashing not write sign info every block (SDK: #19458)
  CHANGELOG.md
  proto/cosmos/slashing/v1beta1/slashing.proto
  tests/integration/slashing/keeper/keeper_test.go
  x/slashing/README.md
  x/slashing/abci_test.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/types/signing_info.go
Labels: C:Simulations, C:x/slashing

#559 chore: replay https://github.com/osmosis-labs/cosmos-sdk/pull/538
  x/slashing/abci.go
  x/slashing/types/params.go
Labels: C:x/slashing

#552 feat: per module fast nodes
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/start.go
  server/util.go
  store/rootmulti/store.go
  store/types/store.go
Labels: C:Store, A:backport/v23

#563 chore: default whitelisted fast node module as lockup
  server/config/config.go
  server/start.go
Labels: A:backport/v23

#514 (Backport) fix(x/gov): let hooks return an error
  CHANGELOG.md
  x/gov/abci.go
  x/gov/keeper/deposit.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/types/expected_keepers.go
  x/gov/types/hooks.go
Labels: C:x/gov

#513 (Backport) fix(x/authz)!: limit expired authz grant pruning to 200 per block
  CHANGELOG.md
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/module/abci.go
Labels: C:x/authz

#566 chore: changelog
  CHANGELOG.md
Labels: A:backport/v23

#567 fix: register missing slashing migration
  x/slashing/module.go
Labels: C:x/slashing

#572 fix: module whitelist settings parse
  CHANGELOG.md
  server/util.go
Labels: A:backport/v23

#575 chore: update iavl minor version
  CHANGELOG.md
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Labels: A:backport/v23

#570 Backport: Removal of regex usage on denom validation
  CHANGELOG.md
  tests/e2e/authz/tx.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/staking/keeper/determinstic_test.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  x/authz/client/cli/tx_test.go
  x/gov/client/cli/util_test.go
Labels: C:x/gov, C:CLI, C:x/authz, A:backport/v23

#580 fix: less time intensive slashing migration
  CHANGELOG.md
  x/slashing/abci.go
  x/slashing/keeper/keeper.go
  x/slashing/migrations/v4/keys.go
  x/slashing/migrations/v4/migrate.go
  x/slashing/migrations/v4/migrate_test.go
  x/slashing/types/keys.go
Labels: C:x/slashing

#583 chore: bank mint/burn debug lines
  x/bank/keeper/keeper.go
Labels: C:x/bank

#582 feat: batch size with tmdb wrapper
  store/wrapper/tmdb.go
Labels: C:Store, A:backport/v23

#510 feat!(x/gov): implement a minimum amount per deposit (backport #19312)
  CHANGELOG.md
  api/cosmos/gov/v1/gov.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  tests/e2e/gov/deposits.go
  tests/e2e/gov/query.go
  tests/e2e/gov/tx.go
  x/bank/app_test.go
  x/gov/abci_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/export_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/migrations/v4/json.go
  x/gov/migrations/v4/json_test.go
  x/gov/migrations/v4/store.go
  x/gov/migrations/v4/store_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/errors.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
Labels: C:x/bank, C:x/gov, C:Simulations

#586 chore: bump iavl
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Labels: A:backport/v23

#589 chore: changelog and backport bot
  .github/mergify.yml
  CHANGELOG.md
Labels: Type: CI, A:backport/v24

#591 chore: add back removal regex
  CHANGELOG.md
  tests/e2e/authz/tx.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/staking/keeper/determinstic_test.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  x/authz/client/cli/tx_test.go
  x/gov/client/cli/util_test.go
Labels: C:x/gov, C:CLI, C:x/authz, A:backport/v24
